
DAPM/DAPM.Orchestrator/Services/Configuration/IdentityConfiguration.json
/DAPM/DAPM.ClientApi/TemporaryFiles
/DAPM/DAPM.OperatorMS.Api/registry
/DAPM/DAPM.OperatorMS.Api/registry
/DAPM/DAPM.OperatorMS.Api/registry
